body {
    width: 96%;
    height: 100%;
    background: linear-gradient(to left, #2980B9, #6DD5FA);
    margin: auto;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: auto;
}

.form_container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 125px;
    background: linear-gradient(to right, #f93, #f00);
    padding: 20px;
}

.search_container {
    height: auto;
    width: auto;
}

.input_container {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    
}

.enter_movie_name {
    background-color: #fff;
    color: #666;
    width: 96%;
}

.results_container {
    width: 96%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 #00000020, 0 6px 20px 0 #00000019;
    flex-direction: column;
    outline: none;
}

.movies_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    font-weight: 600;
}


.movie_icon, .search_icon, .input_pic {
    font-size: 30px;
    padding: 1px;
    height: 52px;
}

.movie_icon, .input_pic {
    color: #fff;
    margin-left: 4px;
    height: 32px;
    width: 40px;
    border: none;
    background-color: #ffffff33;
    padding: 11px;

} 

.search_icon img {
    color: #ff7744;
    background-color: #fff;
    height: 54px;
    width: 54px;
}


.active_input, .passive_input, .input-wrapper {
    height: 52px;
    padding-left: 11px;
    outline: none;
    border: none;
    
}

.active_input, .passive_input, .error, .enter_movie_name {
    width: 100%;
    font-size: 1.15em;
    font-weight: 600;
    flex-direction: column;
}

.active_input {
    color: #333;
    border-bottom: 1px solid #bbb;
}

.passive_input {
    background-color: #ffffff33;
}

.passive_input, .passive_input::placeholder {
    color: #fff;
}

.error {
    padding: 7px;
    color: #fff;
}
